.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 20px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: darkgrey;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top:2px;
}

h1 {
    display: flex;
    justify-content: center;
}

button{
    align-content: center;
}