html, body{
    height: 100%;
}

body{
    margin: 0;
}

.nav-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 30px;
    background: grey;
    align-items: center;
    justify-content: center;

}

nav ul {
    position: absolute;
    right: 30px;
    top: 30px;
    justify-content: flex-end;
    font-size: large;
}

nav li:not(.centered-logo) {
    flex: 1 0 auto;
    text-align: center;
}

nav img {

    background: grey;
    color: white;
    padding: 10px;
    height: 200px;
}

.home-icon {
    left: 30px;
    top: 30px;
    position: absolute;
    justify-content: flex-start;
    font-size: xxx-large;
    color: var(--black);
}