.nav-container {
    position: relative;
    display: flex;
    flex-basis: 1400px;
    flex-wrap: nowrap;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 10px 30px;
    background: var(--grey);
    background: linear-gradient(180deg, rgba(54,56,83,1) 0%, rgba(100,100,100,1) 100%);
    justify-content: center;
}

.nav-item {
    position: absolute;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 20px;
    text-align: center;
    width: 30%;
    top: 180px;
}

.nav-item a {
    padding: 8px;
    font-size: x-large;
    color: var(--black);
}

nav img {
    position: relative;
    text-align: center;
    color: var(--white);
    padding: 10px;
    height: 175px;
}

.style1{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-top: 40px solid var(--grey);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}