.content-card {

    /*border: 1px solid black;*/
    background: white;
    border-radius: 4px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
 margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}