.contentBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    padding: 40px 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
}

.content {
    display: inline-block;
    color: var(--black);
    text-shadow: var(--black);
    font-size: x-large;
    height: 5em;
    width: 15em;
    background-color: var(--grey);
    margin: 1rem 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
}