.page-container {
  width: 1000px;
  /* Jup, dit is bad practise maar houdt de code overzichtelijk voor de tutorial: */
  margin: 60px auto;
}

.nav-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  background-color: Grey;
  display: flex;
  justify-content: center;
  height: 60px;
}

ul {
  list-style-type: none;
  flex-basis: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-link {
  border-bottom: 2px solid white;
}