.page-container {
  width: 1000px;
  /* Jup, dit is bad practise maar houdt de code overzichtelijk voor de tutorial: */
  margin: 30px auto;
}

ul {
  list-style-type: none;
 }

li {
  margin: 1em;
}
